html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

.wrap {
    margin: 0 auto;
    width: auto;
}

.nav-bar {
    background: #f6f6f6;
}
.nav-bar ul {
    display: flex;
    justify-content: flex-end;
}
.nav-bar ul li {
    margin: 5px;
}
.nav-bar li a {
    font-size: 14px;
    display: flex;
    align-items: center;
}
#nav-bar-fb {
    border-right: 1px solid #cccccc;
    padding-right: 8px;
}
#nav-bar_fb-text {
    padding-left: 3px;
    color: #3b5998;
}
#nav-bar_tt-text {
    padding-left: 3px;
    color: #26a7de;
}

.header {
    background: #fff;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.header-menu li {
    width: 100px;
    text-align: center;
}
.header-menu a {
    text-align: center;
    transition: all .5s;
}
.menu-btn {
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #00cc99;
    font-weight: bold;
    border-bottom: 3px solid #fff;
}
.menu-btn:hover, .menu-btn.active {
    border-bottom: 3px solid #00cc99;
}
.menu-dropdown {
    display: none;
}
.menu-dropdown li {
    height: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all .5s;
}
.menu-dropdown li:hover {
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}
.menu-dropdown a {
    font-size: 12px;
    color: #383838;
}

.banner {
    height: 450px;
    display: flex;
    align-items: center;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
#slide1, #slide2, #slide3 {
    background-size: cover;
    background-position: center center;
    display: flex;
    
}
#slide1 {
    background-image: url("../images/slide1.png");
    align-items: center;
}
#slide2 {
    background-image: url("../images/slide2.jpeg");
    align-items: flex-end;
}
#slide3 {
    background-image: url("../images/slide3.jpg");
    align-items: flex-end;
}
#slide2 h1, #slide3 h1 {
    text-align: right;
    padding-right: 30px;
    margin-bottom: 30px;
}
.swiper-slide h1 {
    color: #fff;
    padding-left: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 35px;
    font-weight: bold;
    line-height: 1.5;
    background-color: rgb(0, 0, 0, 0.1);
    width: 100%;
}
.swiper-pagination-bullet {
    background-color: #58bd93 !important;
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 80px;
}
.course-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    box-shadow: 0 4px 8px -2px #b1b1b1;
}
.course-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.course-text {
    width: 100%;
    padding-bottom: 20px;
}
.course-text h2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 12px;
}
.course-text p {
    text-align: left;
    line-height: 1.4;
    padding: 0 20px 0 20px;
}
.course-text span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.course-text li {
    list-style-type:initial;
    line-height: 1.4;
    margin-left: 40px;
}

.table-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.table-wrap h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.compare-table th, .compare-table td{
    font-size: 18px;
    text-align: left;
    padding: 15px 100px 15px 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.compare-table th {
    font-weight: bold;
    background-color: #f7f7f7;
}
.compare-table .hl {
    color: #00cc99;
}

.form-wrap {
    background: linear-gradient(45deg, #58bd93 0%, #29624c 100%);
}
.form-wrap h2 {
    color: #fff;
    font-size: 40px;
    line-height: 1.4;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-form textarea {
    width: 600px;
    height: 400px;
    margin-right: 40px;
    margin-bottom: 40px;
    border-radius: 7px;
    border-color: transparent;
}

.contact-form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 400px;
}
.contact-form-input label {
    color: #fff;
    font-size: 22px;
}
.contact-form-input #name, .contact-form-input #phone, .contact-form-input #email {
    height: 40px;
    border: transparent;
    font-size: 20px;
    padding-left: 10px;
}
.contact-form-input .contact-form-submit {
    margin-left: 80%;
    margin-top: 20px;
    width: 20%;
    height: 50px;
    border: transparent;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    background-color: #5cc99c;
}
.contact-form-input .contact-form-submit:hover {
    cursor: pointer;
    background-color: #5cbd94;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px 20px 30px;
}
.footer img {
    height: 36px;
    width: auto;
}
.footer li {
    line-height: 1.2;
}
.footer li a {
    color: #ce0076;
}
.back-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0px;
    padding: 0 30px 15px 15px;
}
.back-top a {
    text-decoration: none;
    color: #b1b1b1;
    font-size: 15px;
}
.back-top a:hover {
    text-decoration: underline;
}